<form (ngSubmit)="onAddItem()" [formGroup]="itemForm">
  <div class="modal-header">
    <h4 class="modal-title">Add a new Beer</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="activeModal.dismiss('Cross click')"
    ></button>
  </div>
  <ngb-progressbar *ngIf="isSaving" [value]="100"></ngb-progressbar>

  <div class="modal-body">
    <div class="text-left">
      <img
        [src]="itemForm.value.image_url"
        class="item-img rounded d-block mb-3 p-2"
        alt="Beer Image"
      />
    </div>
    <div class="form-group mb-4">
      <input
        ngbAutofocus
        type="text"
        class="form-control"
        aria-describedby="nameHelp"
        placeholder="Beer name*"
        formControlName="name"
      />

      <ng-container
        *ngIf="
          itemForm.controls['name'].invalid && itemForm.controls['name'].touched
        "
      >
        <small
          *ngIf="itemForm.controls['name'].errors['required']"
          id="nameHelp"
          class="form-text text-danger"
          >Name is a required field!</small
        >
      </ng-container>
    </div>
    <div class="form-group mb-4">
      <input
        type="text"
        class="form-control"
        aria-describedby="genreHelp"
        placeholder="Genre*"
        formControlName="tagline"
      />
      <ng-container
        *ngIf="
          itemForm.controls['tagline'].invalid &&
          itemForm.controls['tagline'].touched
        "
      >
        <small
          *ngIf="itemForm.controls['tagline'].errors['required']"
          id="genreHelp"
          class="form-text text-danger"
          >Genre is a required field!</small
        >
      </ng-container>
    </div>
    <div class="form-group mb-2">
      <textarea
        class="form-control"
        id="description-text"
        aria-describedby="descriptionHelp"
        placeholder="Description*"
        formControlName="description"
      ></textarea>
      <ng-container
        *ngIf="
          itemForm.controls['description'].invalid &&
          itemForm.controls['description'].touched
        "
      >
        <small
          *ngIf="itemForm.controls['description'].errors['required']"
          id="descriptionHelp"
          class="form-text text-danger"
          >Description is a required field!</small
        >
      </ng-container>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      [disabled]="itemForm.pristine || isSaving"
      (click)="onClear()"
    >
      Clear
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="itemForm.invalid || isSaving"
    >
      {{ isSaving ? "Adding..." : "Add Beer" }}
    </button>
  </div>
</form>
