<div class="container mb-5">
  <h2>Beer Admin</h2>

  <div class="d-flex">
    <ul
      ngbNav
      #nav="ngbNav"
      [(activeId)]="active"
      [destroyOnHide]="false"
      class="nav-tabs"
    >
      <li [ngbNavItem]="1">
        <button ngbNavLink>All Beers</button>
        <ng-template ngbNavContent>
          <ng-container *ngIf="items$ | async as items">
            <app-item-list [items]="items"></app-item-list>

            <div class="load-more mt-5">
              <button
                type="button"
                class="btn btn-link"
                [class.loading]="isloading"
                (click)="!isloading && loadMoreBeers()"
              >
                <strong *ngIf="!isloading; else loading">Load More</strong>
              </button>
            </div>
          </ng-container>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <button ngbNavLink>My Beers</button>
        <ng-template ngbNavContent>
          <ng-container *ngIf="userItems$ | async as items; else emptyTemplate">
            <div *ngIf="items" class="text-right">
              <button
                type="button"
                class="btn btn-sm btn-outline-danger"
                (click)="clearAllItems()"
              >
                Remove All
              </button>
            </div>
            <app-item-list
              [items]="items"
              [allowDelete]="true"
              (deleteItem)="onRemoveItem($event)"
            ></app-item-list>
          </ng-container>
        </ng-template>
      </li>
    </ul>

    <button class="btn btn-primary btn-sm" type="submit" (click)="onAddItem()">
      Add a new beer
    </button>
  </div>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>

<ng-template #loading> <strong> Loading... </strong></ng-template>
<ng-template #emptyTemplate>
  <app-empty-list (addItem)="onAddItem()"></app-empty-list>
</ng-template>

<div
  *ngIf="showToast"
  class="toast"
  class="toast-container position-fixed bottom-0 end-0 p-3"
  style="z-index: 1200"
>
  <ngb-toast
    [autohide]="autohideToast"
    [delay]="5000"
    (mouseenter)="autohideToast = false"
    (mouseleave)="autohideToast = true"
    header="Notification"
    style="z-index: 1200"
    class="text-light"
    [class]="'bg-' + (toastType ? toastType : 'primary')"
    (hidden)="showToast = false; autohideToast = true"
  >
    {{ toastMessage }}
  </ngb-toast>
</div>
