<div class="container">
  <h2>Beer Admin</h2>
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <button ngbNavLink>All Beers</button>
      <ng-template ngbNavContent>
        <ng-container *ngIf="items$ | async as items">
          <app-item-list [items]="items"></app-item-list>

          <div class="load-more my-5">
            <button
              *ngIf="!isloading; else loading"
              type="button"
              class="btn btn-link"
              (click)="loadMoreBeers()"
            >
              <strong>Load More</strong>
            </button>
          </div>
        </ng-container>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <button ngbNavLink>My Beers</button>
      <ng-template ngbNavContent>
        <app-empty-list></app-empty-list>
      </ng-template>
    </li>
  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>

<ng-template #loading> Loading... </ng-template>
